
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0d0d0d;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0;
     display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}

/* Index */
header {
    text-align: center;
    padding: 0.5rem 0;
    background-color: #1a1a1a;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}


header h1 {
    margin: 0;
    font-size: 2rem;
    color: #2759e499;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin-top: 10px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.nav a:hover {
    color: #2759e499;
}

.catalogo {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    padding: 2rem;
}


.pelicula {
    background-color: #1c1c1c;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.pelicula:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #2759e499;
}


.pelicula img {
    width: 100%;
    height: 300px;    
}


.pelicula h2 {
    margin: 10px 0 5px;
    font-size: 1.1rem;
    color: white;
}

.pelicula p {
    margin-bottom: 15px;
    color: lightgray;
    font-size: 0.9rem;    
}


footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #1a1a1a;
    color: gray;
    font-size: 0.9rem;   
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);       
}


/* Asientos */
.info-pelicula {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: #1c1c1c;
    border-radius: 12px;
    width: 30%;
    box-shadow: 0 0 5px #5d84ec99;
}

.info-pelicula img {
    width: 150px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}


.detalles h2 {    
    margin: 0 0 0.5rem;
    color: white;
}

.detalles p {
    margin: 5px 0;
        
}

.checkbox{
    display:flex; 
    align-items:center; 
    gap:8px; 
    margin:10px 0;
    justify-self: center;
}


.DivModal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(2px);    
    justify-content: center;
    align-items: center;    
    display: none;
}


.modal {    
    padding: 22px;
    width: 360px;
    border-radius: 12px;    
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    border: 5px solid #5d84ec99;
}

.modal input {
    width: 90%;
    padding: 10px;
    margin: 8px 0 10px;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 8px;
}


.btnConfirmar, .btnCancelar {    
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;    
    margin: 10px;
}

.btnConfirmar {
    background: #5d84ec99;
    border: none;
    color: white;
}
.btnConfirmar:hover {
    background: #7295f799;
}

.btnCancelar {
    background: #ddd;
    border: none;
}
.btnCancelar:hover {
    background: #c4c4c4;
}

.seleccion-asientos {
    text-align: center;
    margin-bottom: 3rem;
}

.seleccion-asientos h3 {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}


.pantalla {
    background: linear-gradient(90deg, gray, lightgray, gray);
    width: 50%;
    height: 25px;
    margin: 0 auto 50px;
    border-radius: 5px;
    box-shadow: 0 3px 10px gray;
    line-height: 25px;
    color: black;
    font-weight: bold;
}


.contenedor-asientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/*Fila de asientos */
.fila {
    display: flex;
    gap: 10px;
}

/*Asiento */
.asiento {
    width: 40px;
    height: 40px;
    background-color: #2d2d2d;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.asiento:hover {
    background-color: #274cb399;
    transform: scale(1.2);
}

.asiento.ocupado {
    background-color: #555;
    color: #999;
    cursor: not-allowed;
}


.asiento.seleccionado {
    background-color: #2759e499;
}

.botones-Asietnos {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.btn {
    background-color: #2759e499;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #4a74e799;
    transform: scale(1.03);
}

.btn.volver {
    background-color: #444;
}

.btn.volver:hover {
    background-color: #666;
}


@media (max-width: 768px) {
    .info-pelicula {
        flex-direction: column;
        text-align: center;
    }

    
 
    .pantalla {
        width: 50%;
    }
}


.reservasContenedor{
    display: grid;
    gap: 20px;
    padding: 20px;
}

.tarjetaReserva {
  width: 100%;
  background: #1c1c1c;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #2759e499;
  justify-self: center;
}

.tarjetaReserva img {
  width: 120px;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.infoReserva h3 {
  margin: 0;
  font-size: 20px;
}

.infoReserva p {
  margin: 5px 0;
  font-size: 16px;
}

.btnCancelarReserva {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: #d32f2f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.btnCancelarReserva:hover {
  background: #b71c1c;
}